@page
@model WebClinicSystem.Web.Pages.Login.IndexModel
@{
    // Define que esta página usará o layout de login, e não o principal
    Layout = "Shared/_LoginLayout";
    ViewData["Title"] = "Login";
}

<div class="login-card">
    <div class="login-logo-container">
        <i class="fa-solid fa-heart-pulse"></i>
    </div>

    <div class="text-center mb-4">
        <h3 class="mb-1">Bem-Vindo !</h3>
        <p class="text-muted">Faça login para acessar o sistema.</p>
    </div>

    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

    <form method="post">
        <div class="mb-3">
            <label asp-for="Input.Email" class="form-label">Email</label>
            <input asp-for="Input.Email" class="form-control" placeholder="seuemail@exemplo.com">
        </div>

        <div class="mb-4">
            <label asp-for="Input.Senha" class="form-label">Senha</label>
            <input asp-for="Input.Senha" class="form-control" placeholder="Sua senha">
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>